@import 'compass/css3';
@import 'colores';

a{
  @include transition-property('all');
  @include transition-duration(2s);
  @include transition-timing-function(ease-in);
}

@import "compass/CSS3";
@import "colores";
